:root {
    --color1: #522e93;
    --color2: #774ac7;
    --color3: #cdcdcd;
    --color4: #ffffff;
    --color5: #000000;
    --color6: #ff8528;
    --color7: #ffc518;
  }
  
  *, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height:100vh;
    width:90%;
    max-width:500px;
    margin:auto;
    text-align:center;
    font-size:4em;
    background: var(--color1);
    color: var(--color4);
  }
  
  h1 {
    font-size:1em;
  }
  
  .main {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:100%;
    height:40%;
    border:5px solid var(--color4);
    padding:5%;
    background: var(--color2)
  }
  
  .main label {
    font-size:24px;
    font-family: sans-serif;
    height:10%;
  }
  
  .main * {
    height:30%;
    margin:15px;
  }
  
  input {
    font-size:0.9em;
    font-family: sans-serif;
    padding:14px 15px;
    background: var(--color5);
    border: 2px solid var(--color4);
    color: var(--color4);
    border-radius: 5px;
  }
  
  #convert-btn {
    background: linear-gradient(var(--color6), var(--color7));
    border: 5px solid var(--color6);
  }
  
  .output {
    width: 100%;
  }
  
  .output {
    border:5px solid var(--color4);
    padding:5%;
    background: var(--color2)
    
  }
  
  .alert {
    border: 5px solid darkred;
    background: pink;
    color:darkred;
    padding:5%;
    font-family: sans-serif;
  }
  
  .hidden {
    visibility:hidden;
  }