* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  height: auto;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: deepskyblue;
}


@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 150px;
  flex-wrap: wrap;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 240px;
  }
  footer > ul {
    justify-content: center;
  }
  footer > span {
    justify-content: center;
  }
}

#features {
  margin-top: 30px;
}

#features li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85px;
  width: 80vw;
  padding: 5px;
  margin-bottom:20px;
}

#features ul {
  margin-bottom:20px;
}

@media (max-width: 550px) {
  #features li {
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 100px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#product {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#product > iframe {
  max-width: 560px;
  width: 100%;
}

footer {
  margin-top: 30px;
  background-color: deepskyblue;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 1px 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #fefefe;
}

.logo1 {
  color:green;
}

.logo2 {
  color:skyblue;
}

#why-ecobreeze h1 {
  margin-bottom:10px;
}

#why-ecobreeze ul {
  margin:20px;
}

#why-ecobreeze li {
  margin-bottom:20px;
}
